h1 {
  font-size: inherit;
}

h2 {
  text-align: center;
  font-size: 35pt;
  margin-bottom: 5vh;
}

.content {
  margin-left: 10vw;
  margin-right: 10vw;
}

li {
  line-height: 2.5em;
  padding-left: 0.5rem;
  font-weight: bolder;
  font-size: large;
}