:global(html) {
  background-color: rgba(99, 99, 235, 0.1);
}

* {
  margin-left: 10vw;
  margin-right: 10vw;
}

h1 {
  text-align: center;
}

.content {
  margin-left: 10vw;
  margin-right: 10vw;
}

.spacer {
  height: 10vh;
}